<td-screen-center>
    <mat-card class="center w-250px">
        <mat-card-header class="justify-center">
            <mat-card-title class="tc">
                TodoApp
            </mat-card-title>
            <mat-card-subtitle>
                <img src="assets/images/logo/128.png" alt="Standuply">
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="pv2 center tc">
                <button mat-raised-button color="primary" (click)="login()">Log In with Google</button>
            </div>
        </mat-card-content>
    </mat-card>
</td-screen-center>