<mat-toolbar class="justify-between v-mid" *ngIf="isLoggedIn | async">
    <span>
        <img src="assets/images/logo/48.png" class="v-mid"> TodoApp
    </span>

    <span>
        <a *ngFor="let mainMenuItem of mainMenuItems; let isLast = last;"
           mat-raised-button
           [ngClass]="{ 'mr-10px-imp': !isLast }"
           [routerLink]="mainMenuItem?.link"
           routerLinkActive="mat-primary"
           [routerLinkActiveOptions]="{ exact: true }">{{ mainMenuItem?.label }}</a>
    </span>

    <span>
        <mat-icon *ngIf="offlineEnabled | async"
                  class="red v-mid"
                  matTooltip="TodoApp is working in offline mode. All your changes will be persist in the local storage.">cloud_off</mat-icon>

        <button mat-button [matMenuTriggerFor]="menu">
            <img class="w-30px h-30px v-mid br-100 mr2" src="{{ userAvatar }}"> {{ userName }}
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Exit</button>
        </mat-menu>
    </span>
</mat-toolbar>